
.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Custom Sync Operations
uib-tabset(active="active", ng-init="init()")
    uib-tab(heading="LIST" )
        .row
            .col-lg-2
                button.btn.btn-info(type="submit",ng-click="createCustomSyncOperation()") ADD OPERATION
            .col-lg-10
                table.table(ng-table="customSyncOperationsTableParams", show-filter="true")
                    tr(ng-repeat="cso in $data")
                        td(title="'Name'", filter="{ name: 'text'}",sortable="'name'")
                            a(ng-href="custom-sync-operations/{{cso.id}}") {{cso.name}}
                        td(title="'CODE'",filter="{ code: 'text'}",sortable="'code'") {{cso.code}}
    uib-tab(heading="ONLINE LOG" )
        .row
            .col-lg-10
                table.table
                    thead
                        tr
                            th ID
                            th Operation Name
                            th Started
                            th Submitted
                            th Processed
                            th Failed
                            th LastUpdated
                            th Completed
                    tbody
                        tr(ng-repeat="(key,op) in operations")
                            td {{op.operationId}}
                            td {{op.customOperationName}}
                            td {{op.startedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}
                            td {{op.submittedEntities}}
                            td {{op.processedEntities}}
                            td {{op.failedEntities}}
                            td {{op.lastUpdatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}
                            td {{op.completedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}
            .col-lg-2
