.navbar-custom {
    background-color:#0b084a;
    color:#ffffff;
    border-radius:0;
}
.top-buffer { margin-top:30px; }
.top-message-buffer { margin-top:80px; }
.top-small-buffer { margin-top:10px; }

.navbar-right-custom {
    float: right !important;
    margin-right: 60px;
}

.btn-logout {
    width: 100%;
    padding: 3px 20px !important;
    text-align: left !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}