.row(ng-init="init()")
    .col-lg-2
    .col-lg-10
        table.table(ng-table="tableParams", show-filter="true")
            tr(ng-repeat="attr in $data")
              td(title="name", filter="{ name: 'text'}",sortable="'name'")
                a(ng-href="attributes/{{attr.uuid}}") {{attr.name}}
              td(title="valueType") {{attr.valueType}}

