.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Attributes
.row(ng-init="init()")
    .col-lg-2
        button.btn.btn-info(type="submit",ng-click="createAttribute()") ADD ATTRIBUTE
    .col-lg-10
        table.table(ng-table="tableParams", show-filter="true")
            tr(ng-repeat="attr in $data")
              td(title="'Name'", filter="{ name: 'text'}",sortable="'name'")
                a(ng-href="attributes/{{attr.uuid}}") {{attr.name}}
              td(title="'Type'",filter="{valueType: 'text'}",sortable="'valueType'") {{attr.valueType}}

