div(ng-init="init()")
    .row.top-buffer
        .col-lg-6.col-lg-offset-3
            ul.breadcrumb
                li
                    a(ng-href="/attribute-sets/") Attribute Sets
                li {{attribute_set.name}}
    .row
        .col-lg-6
            form(name="AttributeSetForm", role="form", id="AttributeSetForm")
                div.form-group
                    label(for="attributeSetName") Name
                    input.form-control(type="text",id="attributeSetName", data-ng-model="attribute_set.name")
                div.form-group
                    label(for="version") Version
                    input.form-control(type="number",id="version", data-ng-model="attribute_set.version")
                div.form-group
                    label(for="role") Role
                    input.form-control(type="text",id="role", data-ng-model="attribute_set.properties.role")
                div.form-group
                    label(for="order") Order
                    input.form-control(type="number",id="order", data-ng-model="attribute_set.properties.order")
                div.btn-group
                    button.btn.btn-default(type="submit", ng-click="saveAttributeSet(attribute_set)") APPLY
                    button.btn.btn-danger(type="submit", ng-click="deleteAttributeSet(attribute_set.uuid)", ng-disabled="!attribute_set.uuid") DELETE
                    button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL
        .col-lg-6(ng-init="initAttributes()")
            form(role="form",name="helpForm")
                div.form-group
                    label(for="attributes") Add Attribute
                    select.form-control(id="attributes", ng-model="selected_attribute",
                    ng-options="attribute.name for attribute in attributes",
                    ng-change="addAttribute(selected_attribute)")
    .row
        .col-lg-6.col-lg-offset-6
            table.table
                thead
                    tr
                        th Attributes
                tbody(ui-sortable, ng-model="attribute_set.attributes")
                    tr.item(ng-repeat="item in attribute_set.attributes", style="cursor: move")
                        td
                            a(ng-href="/attributes/{{item.uuid}}") {{item.name}}
                        td
                            button.btn.btn-default.btn-sm(ng-click="deleteAttribute($index)")
                                span.glyphicon.glyphicon-remove