extends layout

block body
    .navbar.navbar-inverse.navbar-fixed-top.navbar-custom(role="navigation")
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")
                b PIMS

        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown", href="")
                        b Attributes
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="attributes") Attributes
                            li
                                a(href="attribute-sets") Attribute Sets
                            li
                                a(href="entity-types") Entity Types
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown",href="")
                        b Manage Entities
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="/entities") Catalog
                            li
                                a(href="/search") Advanced Search
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown", href="")
                        b Sync Pipeline
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="/external-operations") Pipes
                            li
                                a(href="/external-systems") External Systems
                            li
                                a(href="/converters") Converters
                            li
                                a(href="/transformation-schemata") Transformation Schemata
                            li
                                a(href="/custom-sync-operations") Custom Sync Operations
                if admin
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown", href="")
                            b User Management
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="/users") Users
                                li
                                    a(href="/groups") Groups
                                li
                                    a(href="/permissions") Permissions
                                li
                                    a(href="/roles") Roles
                                li
                                    a(href="/resources") Resources
                else
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown", href="")
                            b My Profile
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="/profile") Setting
            ul.nav.navbar-nav.navbar-right-custom(ng-cloak)
                li.dropdown
                    a.dropdown-toggle(href="",ng-click="open()")
                        b {{pims.entities.current.name}}
                form.navbar-form.navbar-left
                    button.btn.btn-default(type="submit", ng-click="logout()")
                        span.glyphicon.glyphicon-log-out &nbsp
                p.navbar-text.navbar-left
                    b= userName
    .container
        .row.top-message-buffer
            .col-lg-8.col-lg-offset4(ng-cloak)
                .alert.alert-success.alert-dismissable(ng-if="message.success.flag")
                    a.close(data-dismiss="alert", href="#", aria-label="close") &times;
                    .strong Success! {{message.success.body}}
                .alert.alert-info.alert-dismissable(ng-if="message.info.flag")
                    a.close(data-dismiss="alert", href="#", aria-label="close") &times;
                    .strong Info! {{message.info.body}}
                .alert.alert-warning.alert-dismissable(ng-if="message.warning.flag")
                    a.close(data-dismiss="alert", href="#", aria-label="close") &times;
                    .strong Warning! {{message.warning.body}}
                .alert.alert-danger.alert-dismissable(ng-if="message.danger.flag")
                    a.close(data-dismiss="alert", href="#", aria-label="close") &times;
                    .strong Danger! {{message.danger.body}}
        div
            div(ng-view)
        hr

    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/jquery-ui/jquery-ui.js')
    script(src='bower_components/ace-builds/src-noconflict/ace.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-ace/ui-ace.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/ng-table-bundle/ng-table.js')
    script(src='bower_components/angular-ui-sortable/sortable.js')
    script(src='bower_components/chart.js/dist/Chart.js')
    script(src='bower_components/angular-chart.js/angular-chart.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/angular-spinner/dist/angular-spinner.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/attribute/service/AttributeService.js')
    script(src='js/attribute/AttributeController.js')
    script(src='js/attribute/AttributeListController.js')
    script(src='js/attribute/model/AttributeModel.js')
    script(src='js/attribute_set/AttributeSetController.js')
    script(src='js/attribute_set/AttributeSetListController.js')
    script(src='js/attribute_set/model/AttributeSetModel.js')
    script(src='js/entity/EntityListController.js')
    script(src='js/entity/CreateController.js')
    script(src='js/entity/EntityController.js')
    script(src='js/entity/service/EntityService.js')
    script(src='js/entity/model/EntityModel.js')
    script(src='js/DashboardController.js')
    script(src='js/entity_type/CreateEntityTypeModalController.js')
    script(src='js/entity_type/EntityTypeController.js')
    script(src='js/entity_type/EntityTypeListController.js')
    script(src='js/entity_type/model/EntityTypeModel.js')
    script(src='js/external_operation/model/ExternalOperationModel.js')
    script(src='js/external_operation/service/ExternalOperationService.js')
    script(src='js/external_operation/ExternalOperationController.js')
    script(src='js/external_operation/ExternalOperationListController.js')
    script(src='js/external_system/model/ExternalSystemModel.js')
    script(src='js/external_system/service/EntityTypeResolver.js')
    script(src='js/external_system/ExternalSystemController.js')
    script(src='js/external_system/ExternalSystemListController.js')
    script(src='js/converter/model/ConverterModel.js')
    script(src='js/converter/ConverterController.js')
    script(src='js/converter/ConverterListController.js')
    script(src='js/transformation_schema/model/TransformationSchemaModel.js')
    script(src='js/transformation_schema/service/TransformationSchemaService.js')
    script(src='js/transformation_schema/TransformationSchemaController.js')
    script(src='js/transformation_schema/TransformationSchemaListController.js')
    script(src='js/advanced_search/model/AdvancedSearchModel.js')
    script(src='js/advanced_search/AdvancedSearchController.js')
    script(src='js/custom_sync_operation/model/CustomSyncOperationModel.js')
    script(src='js/custom_sync_operation/CustomSyncOperationController.js')
    script(src='js/custom_sync_operation/service/CustomSyncOperationService.js')
    script(src='js/custom_sync_operation/CustomSyncOperationListController.js')
    script(src='js/notification/model/NotificationModel.js')
    script(src='js/user/model/UserModel.js')
    script(src='js/user/service/UserService.js')
    script(src='js/user/UserListController.js')
    script(src='js/user/UserController.js')
    script(src='js/group/model/GroupModel.js')
    script(src='js/group/service/GroupService.js')
    script(src='js/group/GroupListController.js')
    script(src='js/group/GroupController.js')
    script(src='js/permission/model/PermissionModel.js')
    script(src='js/permission/PermissionListController.js')
    script(src='js/permission/PermissionController.js')
    script(src='js/role/model/RoleModel.js')
    script(src='js/role/RoleListController.js')
    script(src='js/role/RoleController.js')
    script(src='js/resource/model/ResourceModel.js')
    script(src='js/resource/ResourceListController.js')
    script(src='js/resource/ResourceController.js')
    //script(src='dist/js/all.min.js')
