extends layout

block body
    .navbar.navbar-inverse.navbar-fixed-top.navbar-custom(role="navigation")
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")
                b PIMS

        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown", href="")
                        b Attributes
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="attributes") Attributes
                            li
                                a(href="attribute-sets") Attribute Sets
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown",href="")
                        b Actions
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="/entities") List
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown", href="")
                        b Administration
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="/external-operations") List
    .container
        div(ng-controller="SystemConfigController" ng-init="init()")
            br
            div(ng-view)
        hr

    //script(src='bower_components/jquery/dist/jquery.js')
    //script(src='bower_components/jquery-ui/jquery-ui.js')
    //script(src='bower_components/angular/angular.js')
    //script(src='bower_components/angular-route/angular-route.js')
    //script(src='bower_components/jquery/dist/jquery.js')
    //script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    //script(src='bower_components/ng-table-bundle/ng-table.js')
    //script(src='bower_components/angular-ui-sortable/sortable.js')
    //script(src='bower_components/chart.js/dist/Chart.js')
    //script(src='bower_components/angular-chart.js/angular-chart.js')
    //script(src='js/app.js')
    //script(src='js/services.js')
    //script(src='js/filters.js')
    //script(src='js/directives.js')
    //script(src='js/attribute/AttributeController.js')
    //script(src='js/attribute/AttributeListController.js')
    //script(src='js/attribute/model/AttributeModel.js')
    //script(src='js/attribute_set/AttributeSetController.js')
    //script(src='js/attribute_set/AttributeSetListController.js')
    //script(src='js/attribute_set/model/AttributeSetModel.js')
    //script(src='js/entity/EntityListController.js')
    //script(src='js/entity/EntityController.js')
    //script(src='js/entity/service/EntityService.js')
    //script(src='js/entity/model/EntityModel.js')
    //script(src='js/external_operation/model/ExternalOperationModel.js')
    //script(src='js/external_operation/ExternalOperationController.js')
    script(src='dist/js/all.min.js')
