doctype html
html(ng-app="PimsApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    base(href='/')
    title PIMS 2
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/ng-table-bundle/ng-table.css')
    link(rel='stylesheet', href='bower_components/ng-notify/dist/ng-notify.min.css')
    link(rel='stylesheet', href='/css/navbar_custom.css')
    link(rel='stylesheet', href='bower_components/angularjs-datepicker/dist/angular-datepicker.css')
    link(rel='stylesheet', href='bower_components/angular-confirm/css/angular-confirm.css')
    link(rel='stylesheet', href='bower_components/angular-loading-bar/src/loading-bar.css')
    //link(rel='stylesheet', href='/dist/css/style.min.css')
  body(ng-controller="EntityTypeController" ng-init="init()")
    block body
