.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Roles
.row(ng-init="init()")
    .col-lg-2
        button.btn.btn-info(type="submit",ng-click="createRole()") ADD ROLE
    .col-lg-10
        table.table(ng-table="tableParams", show-filter="true")
            tr(ng-repeat="role in $data")
                td(title="name", filter="{ name: 'text'}",sortable="'name'")
                    a(ng-href="users/{{role.id}}") {{role.name}}
                td(title="valueType") {{attr.valueType}}
