.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Users
uib-tabset(active="active", ng-init="init()")
    uib-tab(heading="Main")
        .row
            .row
                .col-lg-6
                    form(name="UserForm", role="form", id="UserForm")
                        div.form-group
                            label(for="login") Login
                            input.form-control(type="text",id="login", data-ng-model="user.login")
                        div.form-group
                            label(for="firstname") First Name
                            input.form-control(type="text", id = "firstname", data-ng-model = "user.firstname")
                        div.form-group
                            label(for="lastname") Last Name
                            input.form-control(type="text", id = "lastname", data-ng-model = "user.lastname")
                        div.form-group
                            label(for="email") Email
                            input.form-control(type="email", id = "email", data-ng-model = "user.email")
                        div.form-group()
                            label Deleted
                            input.form-control(type="checkbox",id="deleted", data-ng-model="user.deleted")
                        div.form-group()
                            label Admin
                            input.form-control(type="checkbox",id="admin", data-ng-model="user.admin", ng-value=false)
                .col-lg-6
                    form(name="UserForm", role="form", id="AuthForm")
                        div.form-group
                            label(for="password") Password
                            input.form-control(type="password",id="password", data-ng-model="user.password")
                        div.form-group
                            label(for="confirmation") Confirmation
                            input.form-control(type="password", id = "confirmation", data-ng-model = "confirmation")
                        div.form-group
                            label(for="generate") Generate Password
                            input.form-control(type="checkbox", id = "generate", data-ng-model = "user.properties.generate")
                        div.form-group
                            label(for="must_change") Must change password at next logon
                            input.form-control(type="checkbox", id = "must_change", data-ng-model = "user.properties.must_change_password")
                        div.form-group
                            label(for="send") Send This Data To User
                            input.form-control(type="checkbox", id = "send", data-ng-model = "user.properties.send_credentials")
    uib-tab(heading="Groups")
        .row.top-buffer
            .col-lg-6
                table.table(ng-table="groupsTableParams", show-filter="true")
                    tr(ng-repeat="group in $data")
                        td(title="name", filter="{ name: 'text'}",sortable="'name'")
                            a(ng-href="/groups/{{group.id}}") {{group.name}}
    uib-tab(heading="Roles")
        .row.top-buffer
            .col-lg-6
                table.table(ng-table="rolesTableParams", show-filter="true")
                    tr(ng-repeat="role in $data")
                        td(title="name", filter="{ name: 'text'}",sortable="'name'")
                            a(ng-click="addRole(role)",ng-href="") {{role.name}}
            .col-lg-6
                table.table
                    thead
                        tr
                            th User's Roles
                    tbody
                        tr.item(ng-repeat="userRole in userRoles track by $id(userRole)", style="cursor: move")
                            td
                                a(ng-href="/roles/{{userRole.id}}") {{userRole.name}}
                            td
                                button.btn.btn-default.btn-sm(ng-click="deleteUserRole($index)")
                                    span.glyphicon.glyphicon-remove

.row.top-buffer
    form
        div.btn-group
            button.btn.btn-default(type="submit", ng-click="updateUser(user,userRoles)") APPLY
            button.btn.btn-danger(type="submit", ng-click="deleteUser(user.id)", ng-disabled="!user.id") DELETE
            button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL

