.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Users
.row(ng-init="init()")
    .col-lg-2
        button.btn.btn-info(type="submit",ng-click="createUser()") ADD USER
    .col-lg-10
        table.table(ng-table="tableParams", show-filter="true")
            tr(ng-repeat="user in $data")
                td(title="name", filter="{ name: 'text'}",sortable="'name'")
                    a(ng-href="users/{{user.uuid}}") {{attr.name}}
                td(title="valueType") {{attr.valueType}}

