.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Users
.row(ng-init="init()")
    .col-lg-2
        button.btn.btn-info(type="submit",ng-click="createUser()") ADD USER
    .col-lg-10
        table.table(ng-table="tableParams", show-filter="true")
            tr(ng-repeat="user in $data")
                td(title="login", filter="{ login: 'text'}",sortable="'login'")
                    a(ng-href="users/{{user.id}}") {{user.login}}
                td(title="firstname", filter="{ firstname: 'text'}",sortable="'firstname'")
                   b {{user.firstname}}
                td(title="lastname", filter="{ lastname: 'text'}",sortable="'lastname'")
                   b {{user.lastname}}
                td(title="email", filter="{ email: 'text'}",sortable="'email'")
                    b {{user.email}}

