.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Groups
uib-tabset(active="active", ng-init="init()")
    uib-tab(heading="Main")
        .row(ng-init="init()")
            .row
                .col-lg-6
                    form(name="PermissionForm", role="form", id="PermissionForm")
                        div.form-group
                            label(for="name") Name
                            input.form-control(type="text",id="name", data-ng-model="permission.name")

    uib-tab(heading="Other")
.row.top-buffer
    form
        div.btn-group
            button.btn.btn-default(type="submit", ng-click="updateGroup(group)") APPLY
            button.btn.btn-danger(type="submit", ng-click="deleteGroup(group.id)", ng-disabled="!user.id") DELETE
            button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL
