.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Advanced Search
div(ng-init="init()")
    .row
        .col-lg-2
            button.top-pagination.btn.btn-info(type="submit",ng-click="search()") SEARCH
        .col-lg-6
            include pagination
        .col-lg-2
            select.top-pagination.form-control(ng-model="pageSize",
            ng-options="size as size for size in pageSizes")
    .row
        .col-lg-10
            us-spinner(spinner-key="spinner-2", spinner-start-active="true")
            table.table
                thead
                    tr
                        th(ng-repeat="attr in layout") {{attr.name}}
                    tr
                        th(ng-repeat="attr in layout")
                            form(role="form")
                                input.form-control(type="text",id="",
                                ng-keypress="($event.which === 13)?search():0",
                                data-ng-model="search_params[attr.uuid]")
                tbody
                    tr(ng-repeat="entity in entities", ng-click="redirectToEntity(entity.id)")
                        td(ng-repeat="attr in layout") {{entity[attr.uuid]}}
    .row
        .col-lg-6.col-lg-offset-2
            include pagination
        .col-lg-2
            select.top-pagination.form-control(ng-model="pageSize",
            ng-options="size as size for size in pageSizes")