.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Advanced Search
.row(ng-init="init()")
    .col-lg-2
        button.btn.btn-info(type="submit",ng-click="search()") SEARCH
    .col-lg-10
        us-spinner(spinner-key="spinner-2", spinner-start-active="true")
        table.table
            thead
                tr
                    th(ng-repeat="attr in layout") {{attr.name}}
                tr
                    th(ng-repeat="attr in layout")
                        form(role="form")
                            input.form-control(type="text",id="",
                            ng-keypress="($event.which === 13)?search():0",
                            data-ng-model="search_params[attr.uuid]")
            tbody
                tr(ng-repeat="entity in entities", ng-click="redirectToEntity(entity.id)")
                    td(ng-repeat="attr in layout") {{entity[attr.uuid]}}
.row
    .col-lg-6.col-lg-offset-2
        nav(aria-label="Page navigation example")
            ul.pagination(ng-if="pagination.totalPages")
                li.page-item(ng-class = "{'active': !pagination.first, 'disabled': pagination.first }")
                    a.page-link(ng-class="", ng-click="getPage(pagination.currentPage - 1)", href="") Previous
                li.page-item
                    a.page-link(href="#", ng-click="getPage(0)") 1
                li.page-item
                    a.page-link(href="#") Page: {{pagination.currentPage + 1}}
                li.page-item
                    a.page-link(href="#", ng-click="getPage(pagination.totalPages - 1)") {{pagination.totalPages}}
                li.page-item(ng-class = "{'active': !pagination.last, 'disabled': pagination.last }")
                    a.page-link(ng-click="getPage(pagination.currentPage + 1)",href="") Next