.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Transformation Schemata
uib-tabset(active="active", ng-init="init()")
    uib-tab(heading="Main")
        .row(ng-init="init()")
            .col-lg-6
                form(name="TransformationSchemaForm", role="form", id="TransformationSchemaForm")
                    div.form-group
                        label(for="name") Name
                        input.form-control(type="text", data-ng-model="schema.name", id="name")
                    div.form-group
                        label Entity Type
                        select.form-control(id="entities", ng-model="schema.customAttributes.entity.uuid",
                        ng-options="entity.uuid as entity.name for entity in entity_types")
                    div.form-group
                        label Import
                        input.form-control(id="export",type="checkbox",data-ng-model="schema.customAttributes.export")
                    div.form-group
                        label DTO Reference
                        input.form-control(id="dto",type="checkbox",data-ng-model="schema.customAttributes.dto")
                    div.btn-group
                        button.btn.btn-default(type="submit", ng-click="updateTransformationSchema(schema)") APPLY
                        button.btn.btn-danger(type="submit", ng-click="deleteTransformationSchema(schema.id)", ng-disabled="!schema.id") DELETE
                        button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL
    uib-tab(heading="Schema",ng-if="false")
        .row
            .col-lg-10
                table.table(ng-table="schemaTableParams", show-filter="true")
                    tr(ng-repeat="schema in $data")
                        td(title="'IN'", filter="{ in: 'text'}",sortable="'in'")
                            a(ng-href="transformation-schemata/{{schema.id}}") {{schema.in}}
                        td(title="'OUT'",filter="{ out: 'text'}",sortable="'out'") {{schema.out}}

    uib-tab(heading="Schema" )
        .row.top-buffer
            .col-lg-2
                form(role="form")
                    .form-group.col-sm-6
                    .btn-group.top-space
                        button.btn.btn-info(type="submit", ng-if="!schema.customAttributes.export", ng-click="addSchemaItem(out_attribute_name)")
                            span.glyphicon.glyphicon-plus
                        button.btn.btn-info(type="submit",ng-if="schema.customAttributes.export", ng-click="addSchemaItemExport(out_attribute_name)")
                            span.glyphicon.glyphicon-plus
        .row.top-buffer
            .col-lg-4
                h5.text-center IN
            .col-lg-4
                h5.text-center CONVERTERS
            .col-lg-4
                h5.text-center OUT
        include transformation_schema_import
        include transformation_schema_export


