nav(aria-label="Page navigation example")
    ul.pagination(ng-if="pagination.totalPages")
        li.page-item(ng-class = "{'active': !pagination.first, 'disabled': pagination.first }")
            a.page-link(ng-class="", ng-click="getPage(pagination.currentPage - 1)", href="") Previous
        li.page-item
            a.page-link(href="#", ng-click="getPage(0)") 1
        li.page-item
            a.page-link(href="#") Page: {{pagination.currentPage + 1}}
        li.page-item
            a.page-link(href="#", ng-click="getPage(pagination.totalPages - 1)") {{pagination.totalPages | number}}
        li.page-item(ng-class = "{'active': !pagination.last, 'disabled': pagination.last }")
            a.page-link(ng-click="getPage(pagination.currentPage + 1)",href="") Next
        li.page-item
            a.page-link Total Records: {{pagination.totalRecords | number}}