.div(ng-controller="AuditController", ng-init="init(entity)")
    .row.top-buffer
        .col-lg-2
            button.top-pagination.btn.btn-info(type="submit", ng-click="search()") SEARCH
        .col-lg-6
            include audit_pagination
        .col-lg-1
            button.top-pagination.btn.btn-warning(type="submit",ng-click="clear(search_params)") CLEAR
        .col-lg-1
            button.btn-sm.btn-info.top-pagination.span.glyphicon.glyphicon-refresh(ng-click="init(entity)")
        .col-lg-2
            select.top-pagination.form-control(ng-model="pageSize",
            ng-options="size as size for size in pageSizes")
    .row.top-buffer
        .col-lg-11
            table.table
                thead
                    tr
                        th Id
                        th Started At
                        th Operation
                        th System Id
                        th Finished At
                        th User
                        th Version
                        th Diff
                tbody
                    tr(ng-repeat="op in operations")
                        td {{op.operationId}}
                        td {{op.startedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}
                        td {{op.syncOperationType}}
                        td {{op.externalSysttemId}}
                        td {{op.finishedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}
                        td {{op.user}}
                        td {{op.version}}
                        td(ng-if="op.diff")
                            a(ng-click="visualizeDiff(op)", ng-href="") MORE
                        td(ng-if="!op.diff || op.diff.length==0") NO CHANGES
    .row
        .col-lg-6.col-lg-offset-2
            include audit_pagination
        .col-lg-2
            select.top-pagination.form-control(ng-model="pageSize",
            ng-options="size as size for size in pageSizes")
