.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Entities
    .col-lg-6
        span
            us-spinner(spinner-key="spinner-entity", spinner-start-active="true")
uib-tabset(active="active", ng-init="init()")
    uib-tab(ng-repeat="tab in tabs",heading="{{tab.name}}" )
        .row
            .col-lg-6.col-lg
                form( role="form")
                    div.form-group(ng-repeat="attr in tab.attributes")
                        div.top-small-buffer(ng-if="attr.properties.frontendType =='file'", class="button", ngf-select="upload($file)")
                            button.btn.btn-info(type="submit", ng-if="!schema.customAttributes.export")    UPLOAD FILE
                        div(ng-if="attr.properties.frontendType !='multiselect' && attr.properties.frontendType !='select' && attr.properties.frontendType !='table' && attr.properties.frontendType !='file' && attr.properties.frontendType !='preview' && attr.properties.frontendType !='image_url'" )
                            label {{attr.name}}
                            input.form-control(type="{{attr.properties.frontendType}}", data-ng-model="entity.attributes[attr.uuid].value")
                        div(ng-if="attr.properties.frontendType =='multiselect'")
                            label {{attr.name}}
                            .input-group
                                input.form-control(data-ng-model="entity.attributes[attr.uuid].value.attributes[reference_tables[attr.uuid][0].attributes[0].uuid].value")
                                span.input-group-addon.pointer-cursor(ng-click="clearStructureReference(attribute)")
                                    span.glyphicon.glyphicon-remove-sign(aria-hidden="true")
                                span.input-group-btn
                                    button.btn.btn-default(type="submit", ng-click="open(attr,replaceReference)") SELECT
                        div(ng-if="attr.properties.frontendType =='select'")
                            label {{attr.name}}
                            select.form-control(data-ng-model="entity.attributes[attr.uuid].value",
                            ng-options="enum as enum for enum in attr.properties.enumValues")
                        div(ng-if="attr.properties.frontendType =='table'")
                            label {{attr.name}}
                            div
                                .btn-group.top-space
                                    button.btn.btn-info.btn-xs(type="submit", ng-if="!schema.customAttributes.export", ng-click="open(attr,addReference)")
                                        span.glyphicon.glyphicon-list-alt
                            table.table
                                thead
                                    tr()
                                        th(ng-repeat="h in reference_tables[attr.uuid][0].attributes") {{h.name}}
                                tbody
                                    tr(ng-repeat="row in entity.attributes[attr.uuid].value")
                                        td(ng-repeat="h in reference_tables[attr.uuid][0].attributes") {{row.attributes[h.uuid].value}}
                                        td
                                            button.btn.btn-danger.btn-xs(type="submit", ng-if="!schema.customAttributes.export", ng-click="removeReference(attr, $index)")
                                                span.glyphicon.glyphicon-remove
                        div(ng-if="attr.properties.frontendType =='preview'")
                            //input(type="image", ng-src="/rest/attachment/{{getImageId(tab.attributes)}}")
                            img(ng-src="/rest/attachment/{{getImageId(tab.attributes)}}",width=100, ng-click="downloadImage")
                        div(ng-if="attr.properties.frontendType =='image_url'")
                            label Upload From Url
                            .input-group
                                input.form-control.input(type="text", data-ng-model="entity.attributes[attr.uuid].value")
                                span.input-group-btn
                                    button.btn.btn-secondary(type="button", ng-click="postAttachmentUrl(entity.attributes[attr.uuid].value)") GO
    uib-tab(heading="System")
        .row.top-buffer
            .col-lg-6.col-lg
                form( role="form")
                    div
                        label System Name
                        input.form-control(type="text", data-ng-model="entity.name")
        .row-top-buffer
.row.top-buffer
    form(role="form")
        div.btn-group
            button.btn.btn-default(type="submit", ng-click="updateEntity(entity)") APPLY
            button.btn.btn-danger(type="submit", ng-click="deleteEntity(entity.uuid)", ng-disabled="!attribute_set.uuid") DELETE
            button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL




