br
br
br
.row
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Entities
    .col-lg-4
        p
uib-tabset(active="active", ng-init="init()")
    uib-tab(ng-repeat="tab in tabs",heading="{{tab.name}}" )
        .row
            .col-lg-6.col-lg
                form(name="{{tab.name}}", role="form")
                    div.form-group(ng-repeat="attr in tab.attributes")
                        div
                            label {{attr.name}}
                            input.form-control(type="{{attr.properties.frontendType}}", data-ng-model="entity.attributes[attr.uuid].value")

