.modal-header(ng-init="init()")
    h3.modal-title SELECT REFERENCE
    .modal-body
        table.table
            thead
                tr
                    th(ng-repeat="attr in layout") {{attr.name}}
                tr
                    th(ng-repeat="attr in layout")
                        form(role="form")
                            input.form-control(type="text",id="",
                            ng-keypress="($event.which === 13)?search():0",
                            data-ng-model="search_params[attr.uuid]")
            tbody
                tr(ng-repeat="entity in entities")
                    td(ng-repeat="attr in layout")
                        a(ng-href="",ng-click="selectReference(entity.uuid)") {{entity.attributes[attr.uuid]}}

        nav(aria-label="Page navigation example")
            ul.pagination(ng-if="pagination.totalPages")
                li.page-item(ng-class = "{'active': !pagination.first, 'disabled': pagination.first }")
                    a.page-link(ng-class="", ng-click="getPage(pagination.currentPage - 1)", href="") Previous
                li.page-item
                    a.page-link(href="#", ng-click="getPage(0)") 1
                li.page-item
                    a.page-link(href="#") Page: {{pagination.currentPage + 1}}
                li.page-item
                    a.page-link(href="#", ng-click="getPage(pagination.totalPages - 1)") {{pagination.totalPages}}
                li.page-item(ng-class = "{'active': !pagination.last, 'disabled': pagination.last }")
                    a.page-link(ng-click="getPage(pagination.currentPage + 1)",href="") Next
    .modal-footer
        button.btn.btn-primary(ng-click="ok()") OK
        button.btn.btn-warning(ng-click="cancel()") Cancel
