div.form-group(ng-if="external_system.customAttributes.system_id===2")
    label Access Key
    input.form-control(type="text", data-ng-model="external_system.customAttributes.amazon.accessKey")
div.form-group(ng-if="external_system.customAttributes.system_id===2")
    label Secret Key
    input.form-control(type="text", data-ng-model="external_system.customAttributes.amazon.secretKey")
div.form-group(ng-if="external_system.customAttributes.system_id===2")
    label Application Name
    input.form-control(type="text", data-ng-model="external_system.customAttributes.amazon.appName")
div.form-group(ng-if="external_system.customAttributes.system_id===2")
    label Application Version
    input.form-control(type="text", data-ng-model="external_system.customAttributes.amazon.appVersion")
div.form-group(ng-if="external_system.customAttributes.system_id===2")
    label Service Url
    input.form-control(type="text", data-ng-model="external_system.customAttributes.amazon.serviceURL")
div.form-group(ng-if="external_system.customAttributes.system_id===2")
    label Seller Id
    input.form-control(type="text", data-ng-model="external_system.customAttributes.amazon.sellerId")
div.form-group(ng-if="external_system.customAttributes.system_id===2")
    label Auth Token
    input.form-control(type="text", data-ng-model="external_system.customAttributes.amazon.mwsAuthToken")