br
br
br
.row
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li External Systems
.row(ng-init="init()")
    .col-lg-6
        form(name="ExternalSystemForm", role="form", id="ExternalSystemForm")
            div.form-group
                label(for="externalSystemName") Name
                input.form-control(type="text",id="externalSystemName", data-ng-model="external_system.name")
            div.form-group
                label(for="basePath") Base Path
                input.form-control(type="text",id="basePath", data-ng-model="external_system.customAttributes.basePath")
            div.btn-group
                button.btn.btn-default(type="submit", ng-click="updateExternalSystem(external_system)") APPLY
                button.btn.btn-danger(type="submit", ng-click="deleteExternalSystem(external_system.id)", ng-disabled="!external_system.id") DELETE
                button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL
    .col-lg-6(ng-init="initEntityTypes()")
        form(role="form",name="helpForm")
            div.form-group
                label(for="entity_types") Add Entity Type
                select.form-control(id="entity_types", ng-model="selected_entity_type",
                ng-options="entity_type.name for entity_type in entity_types",
                ng-change="createEntityTypeEntry(selected_entity_type)")
br
br
br
.row
    .col-lg-6
        h5.text-info Allowed  Entity Types
        .list-group
            a.list-group-item(href="#",ng-repeat="(key,value) in external_system.customAttributes.entities") {{value.name}}
                span.glyphicon.glyphicon-remove.pull-right(ng-click="removeEntity(key)")
                span
                span.glyphicon.glyphicon-edit.pull-right(ng-click="editEntity(key)")
    .col-lg-6
        h5.text-info Edit  Entity Type
        form(role="form",name="helpForm")
            div.form-group
                label(for="itemName") Entity Type Name
                input.form-control(type="text",id="itemName", data-ng-model="item[item_key].name")
            div.form-group
                label(for="write.url") Write Relative Url
                input.form-control(type="text",id="write.url", data-ng-model="item[item_key].write.url")
            div.form-group
                label(for="write.method") Write HTTP METHOD
                input.form-control(type="text",id="write.method", data-ng-model="item[item_key].write.method")
            div.form-group
                label(for="read.url") Read Relative Url
                input.form-control(type="text",id="read.url", data-ng-model="item[item_key].read.url")
            div.form-group
                label(for="read.method") Read HTTP METHOD
                input.form-control(type="text",id="read.method", data-ng-model="item[item_key].read.method")
            div.form-group
                label(for="entity_types") Trigger Type
                select.form-control(id="trigger", ng-model="item[item_key].trigger",
                ng-options="trigger for trigger in triggers")
            div.btn-group
                button.btn.btn-default(type="submit", ng-click="saveEntityTypeEntry(item)") SAVE
                button.btn.btn-default(type="submit", ng-click="emptyEntityTypeEntry()") Empty
