.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Extenal Systems
.row(ng-init="init()")
    .col-lg-2
        button.btn.btn-info(type="submit",ng-click="createExternalSystem()") ADD SYSTEM
    .col-lg-10
        table.table(ng-table="externalSystemsTableParams", show-filter="true")
            tr(ng-repeat="sys in $data")
                td(title="'Name'", filter="{ name: 'text'}",sortable="'name'")
                    a(ng-href="external-systems/{{sys.id}}") {{sys.name}}
                td(title="'Id'",filter="{ id: 'number'}",sortable="'id'") {{sys.id}}
                td(title="'Base Path'",filter="{ 'customAttributes.basePath': 'text'}",sortable="'customAttributes.basePath'") {{sys.customAttributes.basePath}}
                td(title="'System Type'",filter="{ 'systemType': 'text'}",sortable="'systemType'") {{sys.systemType}}
                td(title="'Batch Size'",filter="{ 'batchSize': 'text'}",sortable="'batchSize'") {{sys.batchSize}}
