div.form-group(ng-if="external_system.customAttributes.system_id===1")
    label Login
    input.form-control(type="text", data-ng-model="external_system.customAttributes.openerp.login")
div.form-group(ng-if="external_system.customAttributes.system_id===1")
    label Password
    input.form-control(type="text", data-ng-model="external_system.customAttributes.openerp.password")
div.form-group(ng-if="external_system.customAttributes.system_id===1")
    label Database
    input.form-control(type="text", data-ng-model="external_system.customAttributes.openerp.database")
div.form-group(ng-if="external_system.customAttributes.system_id===1")
    label Batch Size
    input.form-control(type="text", data-ng-model="external_system.customAttributes.openerp.batchsize")