.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Resources
.row(ng-init="init()")
    .col-lg-2
        button.btn.btn-info(type="submit",ng-click="createResource()") ADD RESOURCE
    .col-lg-10
        table.table(ng-table="tableParams", show-filter="true")
            tr(ng-repeat="resource in $data")
                td(title="'Name'", filter="{ name: 'text'}",sortable="'name'")
                    a(ng-href="resources/{{resource.id}}") {{resource.name}}