.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li
                a(ng-href="/filters") Filters
            li {{filter.name}}

.row(ng-init="init()")
    .col-lg-8
        form(name="FilterForm", role="form", id="FilterForm")
            div.form-group
                label(for="converterName") Name
                input.form-control(type="text",id="converterName", data-ng-model="filter.name")
            div.form-group
                label(for="type") Type
                select.form-control(id="type",
                ng-model="filter.customAttributes.type",
                ng-options="type as type for type in types")
            div.form-group
                label  Condition
                div(ui-ace="{useWrapMode : true, showGutter: false, theme:'cobalt', mode: 'javascript', firstLineNumber: 10, onLoad: aceLoaded, onChange: aceChanged, advanced: {fontSize: '16px'}}", ng-model="filter.conditions")
                //textarea.form-control(rows="10", id="code", ng-model="filter.code")
            div.btn-group
                button.btn.btn-default(type="submit", ng-click="updateFilter(filter)") APPLY
                button.btn.btn-danger(type="submit", ng-click="deleteFilter(filter.id)", ng-disabled="!filter.id") DELETE
                button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL

